name: Generate Stats Images

on:
  push:
    branches: [ master ]
  schedule:
    - cron: "5 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip setuptools wheel
        python3 -m pip install -r requirements.txt

    - name: Generate images
      env:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        EXCLUDED: ${{ secrets.EXCLUDED }}
        EXCLUDED_LANGS: ${{ secrets.EXCLUDED_LANGS }}
        EXCLUDE_FORKED_REPOS: true
        USER: Henderson-da-rocha-porfirio
      run: |
        echo "Running Python version:"
        python3 --version
        echo "Generating GitHub Stats..."
        python3 generate_images.py

    - name: Commit to the repo
      run: |
        git config --global user.name "github-stats[bot]"
        git config --global user.email "github-stats[bot]@users.noreply.github.com"
        git add generated/*
        git commit -m "Update generated files" || true
        git push
